@using IdentityServer.ViewModel;
@model LoginViewModel
<h1>Auth login</h1>

<form asp-controller="Auth" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <label>Username</label>
    <input asp-for="Username" />
    <br />
    <label>Password</label>
    <input asp-for="Password" />
    <br />
    <input type="submit" value="提交" />
</form>
<a asp-controller="Auth" asp-action="Register"
   asp-route-returnUrl="@Model.ReturnUrl">Register</a>